<div class="row">
  <div class="col-6">
    <div class="row">
      <img class="img-fluid" alt="House pic" src="/assets/houseImages/{{house.photo}}.jpeg"
      />
    </div>
  </div>
  <div class="col-6">
    <div class="row mt-2">
      <h5 class="col-12">{{ house.country }}</h5>
    </div>
    <div class="row">
      <h3 class="col-12">{{ house.address }}</h3>
    </div>
    <div class="row">
      <h2 class="themeFontColor col-12">
        {{ house.price }}
      </h2>
    </div>
    <div class="row">
      <div class="col-12 mt-3">{{ house.description }}</div>
    </div>
  </div>
</div>
