<div>
  <div class="row mb-2">
    <h5 class="themeFontColor text-center">Houses currently on the market</h5>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Address</th>
        <th>Country</th>
        <th>Asking Price</th>
      </tr>
    </thead>
    <tbody *ngFor="let house of houses">
      <tr (click)="navigateToHouse(house.id)">
        <td>{{ house.address }}</td>
        <td>{{ house.country }}</td>
        <td>{{ house.price }}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="addHouse()">Add</button>
</div>
