/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.themeFontColor {
  color: coral;
}

tr {
  cursor: pointer;
}

.logo {
  height: 150px;
}

.subtitleStyle {
  font-style: "italic";
  font-size: "x-large";
  color: "coral";
}
